*{padding: 0;margin: 0;list-style: none;-webkit-box-sizing: border-box;box-sizing: border-box;}
.uploadbt{
  display: inline-block;
  border: 0;
  background: rgb(255, 187, 0);
  color: #fff;
  width: 150px;
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
}
.fileinputLabel{
  display: inline-block;
  border: 0;
  background: rgb(4, 202, 53);
  color: #fff;
  min-width: 150px;
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}
.fileinputLabel:hover{
  background:  rgb(3, 209, 65);
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}
.uploadbt:hover{
  background:  rgb(214, 158, 3);
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}
.fileinput{
  display: none;
}
.inputRow{
  margin: 10px 10px;
}
.previewImg{
  width: 200px;
  height: 200px;
  border: 0;
  margin: 10px;
}