<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <h2>
      <%= lang %>
    </h2>
    <!-- <#%= uName %> -->
    <!-- <img src="/img/1.jpg" alt=""> -->
    <form action="/users/testing/" method="POST">
    <p>
      <input type="text" value="test@google.com" name="userEmail" id="mail">
    </p>
     <p>
      <input type="password" value="11111111" name="userPassword">
     </p>
      <button type="submit">submit</button>
    </form>
  </body>
</html>
