<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
    .title{
      color: red;
    }
  </style>
</head>
<body>
 <h1> params ejs</h1>
  <h2>넘어온 아이디 : <span class="title"><%= userEmail %></span></h2>
  <h2>넘어온 비밀번호 : <span class="title"><%= userPassword %></span></h2>
  <h2>사용중인 언어 : <%= lang %></h2>
</body>
</html>